@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #090D16;
  --foreground: #F8FAFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Custom Cinema Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #090D16;
}

::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFB800;
}

/* Chrome autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #F8FAFC;
  -webkit-box-shadow: 0 0 0px 1000px #131B2C inset;
  transition: background-color 5000s ease-in-out 0s;
}
